*{
	margin:0;
	padding: 0;
}
html{
	height:100%;
}
/* Move down fixed navbar that is 50px tall and margin bottom for fixed footer 40px tall */
body {
  padding-top: 50px;
  background: #eee;
  margin-bottom: 40px;
}
/*Nav-bar*/
.navbar-fixed-top {
  border: 0;
  
}
.navbar-header a.navbar-brand{
	color:#fff;
}
.navbar-header a.navbar-brand:hover{
	color:#1DB954;
}
/* Hide for desktop, show later */
.mobileMenu {
  display: none;
}
@media(max-width: 768px) {
  .mobileMenu {
    display: block;
    text-align:center;
  }
}
/*Footer*/
footer{
	color: #fff;
	background: #222222;
	width: 100%;
	height: 40px;
	position:fixed;
	bottom:0;
	text-align:center;
	list-style:none;
	z-index: 7;
	
}
footer ul li{
	list-style: none;
}
/*Home Layout*/

.billboard {
	background: #1ABC9C;
	color: #fff;
	text-align: center;
	height:100%;
	
	
}

.pulse {
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes pulse {
    0% {
        transform: scale(0.9);
        opacity: 0.7;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.9);
        opacity: 0.7;
    }
}