/* CSS declarations go here */
main{
	width:70%;
}

header, main, footer {
      padding-left: 240px;
    }

@media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }


.btn-primary,.btn-deny{
	display: block;
}   

.in-rutine{
	background-color: lightblue;
}
.solowork{
	border: 2px dotted tomato;
	margin:5px;
	
}
.new-workout-container{
	border: 2px double teal;
	margin-left:10%;
}
.thumbnail{
	width:100px;
	heigth:100px;
}
