<template name="homeLayout">
		{{> header}}
	<main>
<!-- 	<main class="billboard"> -->
		
		<!-- <div class="container-fluid "> -->
			
      		<div class="container-fluid billboard">
				<div class="jumbotron">	
					<br/>
					<h1>Organize your Workouts</h1>
					<h1><i class="fa fa-heartbeat pulse"></i></h1>
					<h2 id="description"> Web Application Development, Final project.</h2>

					<div id="myCarousel" class="carousel slide" data-ride="carousel">
				    <!-- Indicators -->
				   <!--  <ol class="carousel-indicators">
				      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				      <li data-target="#myCarousel" data-slide-to="1"></li>
				    </ol> -->

				    <!-- Wrapper for slides -->
				    	<div class="carousel-inner" role="listbox">
				      		<div class="item active">
				    		<!--     <img src="/images/pexels-photo.jpg" alt="Chania" width="460" height="345"> -->
				    		<br/>
				        	<p>Keep your exercises, organize your routine training</p>
				      		</div>

				      		<div class="item">
				      		<br/>
				        	<p>An application for people in movement</p>
				      		</div>
				    	</div>

				    <!-- Left and right controls -->
				    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
				      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				      <span class="sr-only">Previous</span>
				    </a>
				    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
				      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				      <span class="sr-only">Next</span>
				    </a>
				  </div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12 col-md-12 sect1">
						<p class="separator"></p>
						<br/>
						<p>Workout book it's a web application with a friendly and simple interface, made with the framework Meteor.</p>
						<p>Meteor is an open source platform for building web and mobile apps in pure JavaScript.</p>
						<img src="/images/meteor-logo.png" class="img-responsive center-block">
					</div>
					<div class="col-sm-12 col-md-12 sect2">
						<p class="separator"></p>
						<br/>
						<p>Create your own workout routines, share with your friends, speak with other sportspeople like you</p>
						<p>Enjoy your passion</p>
					</div>
					<div class="col-sm-12 col-md-12 sect3">
						<p class="separator"></p>
						<br/>
						<p>Log in with your favorite social network</p>
						<i class="fa fa-facebook-official fa-4x"></i>
						<i class="fa fa-twitter  fa-4x"></i>
						<i class="fa fa-google-plus fa-4x"></i>
					</div>

				</div>
			</div>
			
		<!-- </div> -->
	</main>
		{{>footer}}
</template>