<template name="homeLayout">
		{{> header}}
	<main>
<!-- 	<main class="billboard"> -->
		
		<!-- <div class="container-fluid "> -->
			
      		<div class="container-fluid billboard">
				<div class="jumbotron">	
					<br/>
					<h1>Organize your Workouts <i class="fa fa-heartbeat pulse"></i></h1>
					<h2 id="description"> WoW! this is an AWESOME Web Application in Development. Thank you for your patience</h2>
					<p> Here comes a little description of the web app, you know .. bla bla bla ;) </p>
				</div>
				<div class="jumbotron">	
					<br/>
					<h1>Organize your Workouts <i class="fa fa-heartbeat pulse"></i></h1>
					<h2 id="description"> WoW! this is an AWESOME Web Application in Development. Thank you for your patience</h2>
					<p> Here comes a little description of the web app, you know .. bla bla bla ;) </p>
				</div>
			</div>
		<!-- </div> -->
	</main>
		{{>footer}}
</template>